@import '~antd/dist/antd.css';


.b{
    width: 1200px;
    height: 360px;
    border: 1px solid black;
    margin: 0 auto;
}
.a{
    width: 100%;
    height: 360px;
    margin-top: 80px;
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 360px;
    line-height: 360px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }



  .c{
      width: 100%;
      height: 100px;
      background-color: black;
      /* color: white; */
 }
  .c p{
      
      color: white;
      /* line-height: 100px; */
      text-align: center;
  }
  .c h1{
    color: rgb(245, 237, 237);
    /* line-height: 100px; */
    text-align: center;
}


.d{
    width: 100%;
    height: 100px;
    background-color: black;
    /* color: white; */
}
.d h1{
    color: rgb(245, 237, 237);
    line-height: 100px;
    text-align: center;

}


.e{
    width: 100%;
    height: 100px;
    background-color: black;
    /* color: white; */
}
.e p{
    
    color: white;
    /* line-height: 100px; */
    text-align: center;
}
.e h1{
  color: rgb(245, 237, 237);
  /* line-height: 100px; */
  text-align: center;
}



.f{
    width: 100%;
    height: 100px;
    background-color: black;
    /* color: white; */
}
.f p{
    
    color: white;
    /* line-height: 100px; */
    text-align: center;
}
.f h1{
  color: rgb(245, 237, 237);
  /* line-height: 100px; */
  text-align: center;
}


.g{
    width: 100%;
    height: 100px;
    background-color: black;
    /* color: white; */
}
.g p{
    
    color: white;
    /* line-height: 100px; */
    text-align: center;
}
.g h1{
  color: rgb(245, 237, 237);
  /* line-height: 100px; */
  text-align: center;
}



.h{
    width: 100%;
    height: 100px;
    background-color: black;
    /* color: white; */
}
.h p{
    
    color: white;
    /* line-height: 100px; */
    text-align: center;
}
.h h1{
  color: rgb(245, 237, 237);
  /* line-height: 100px; */
  text-align: center;
}



.i{
    width: 100%;
    height: 100px;
    background-color: black;
    /* color: white; */
}
.i p{
    
    color: white;
    /* line-height: 100px; */
    text-align: center;
}
.i h1{
  color: rgb(245, 237, 237);
  /* line-height: 100px; */
  text-align: center;
}