*{
    margin: 0px;
    padding: 0px;
}
.bigbox{
    width:100%;
    height: 150px;
    background: white;
    border-top:1px solid #D3C1BB;
    font-size: 14px;
}
.small{
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    background: white;
}
.wenzi{
    margin-left: 80px;

}
.wenzi >li{
    float: left;
    margin-left: 40px;
    list-style: none;
    color:#D3C1BB;
}
.erbufen >li{
    float: left;
    margin-left: 50px;
    list-style: none;
    color:#D3C1BB;
}
.small ul li:hover{
    color:black;
}
.small >h4{
    float: left;
}
.box1{
    background: red;
    color: white;
}
.box2{
    margin-left: 300px;
    color:#D3C1BB;
}
.box3{
    color:#D3C1BB;
}
.bianhuan :hover{
color:black;
}