@import '~antd/dist/antd.css';
ul{
    list-style: none;
}
a{
    text-decoration:none;
    color:#555555;
}
.topBox{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid gray;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}
.top-centerBox{
    width: 1200px;
    height: 80px;
    margin: auto;
}
.top-centerBox>img{
    width: 140px;
    height: 40px;
    margin-top: 20px;
    float: left;
}
.listBox{
    width: 681px;
    height: 80px;
    float: left;
    margin-left: 40px;
}
.listBox>ul>li{
    min-width: 20px;
    height: 80px;
    font-size: 16px;
    float: left;
    line-height: 80px;
    margin-right: 18px;
    color: #555555;
}
.searchBox{
    width: 286px;
    height: 80px;
    float: right;
}
.search{
    width: 180px;
    height: 32px;
    margin-right: 20px;
    margin-top: 26px;
}
.login{
    width: 86px;
    height: 32px;
    background: #DDDDDD;
    border: none;
    text-align: center;
    line-height: 32px;
    margin-top: 26px;
}
.text{
    height: 2000px;
    background: pink;
    width: 100%;
    margin-top: 80px;
}